 .style1
        {
            width: 767px;
        }
        .style7
        {
            height: 27px;
        }
        .style8
        {
            height: 27px;
            width: 107px;
        }
        .style9
        {
            width: 107px;
            height: 26px;
        }
        .style12
        {
            height: 29px;
            width: 107px;
        }
        .style13
        {
            height: 29px;
        }
        .style14
        {
            width: 186px;
            height: 27px;
        }
        .style15
        {
            width: 186px;
            height: 29px;
        }
        .style16
        {
            width: 186px;
            height: 26px;
        }
        .style17
        {
            height: 27px;
            width: 113px;
        }
        .style18
        {
            height: 29px;
            width: 113px;
        }
        .style19
        {
            width: 113px;
            height: 26px;
        }
        .style20
        {
            height: 28px;
            width: 113px;
        }
        .style21
        {
            width: 186px;
            height: 28px;
        }
        .style22
        {
            height: 28px;
            width: 107px;
        }
        .style23
        {
            height: 28px;
        }
        .style24
        {
            height: 26px;
        }
          .style30
        {
            width: 246px;
        }
        .style31
        {
            width: 94px;
        }
        .style32
        {
            width: 144px;
        }
        .style33
        {
            height: 27px;
            width: 118px;
        }
        .style34
        {
            height: 29px;
            width: 118px;
        }
        .style35
        {
            width: 118px;
            height: 26px;
        }
        .style36
        {
            height: 28px;
            width: 118px;
        }
        